

@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

.edit{
    width: 300px;
    height: 50px;
    font-size: 25px;
    font-family: 'Mohave', sans-serif;  
    border: 3px solid #c98585;
    border-radius: 5px;
    
 } 
.buti{
    width: 100px;
    height: 50px;
    background-color: #9adeaf;
    border-style:solid;
    border: 3px solid #70c073;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Mohave', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buti2{
    width: 100px;
    height: 50px;
    background-color: #c98585;
    border-style:solid;
    border: 3px solid #916565;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Mohave', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.row1{
    margin-top: 5px;
    width: 700px;
    
    border-radius:10px ;
    border: solid #AE889F;
    display: flex;
    justify-content: center;
    text-align:center;
}
.button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10px 10px 10px;
}
.row{
    display: flex;
    justify-content: center;
}
.rowcont{
    font-family: 'Mohave', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
/*aqui van los atributos del checkbox*/
.check{
    width: 50px;
    height: 50px;
    margin-top: 35px;
    margin-right: 30px;
  }

     
.row1_changed{
   background-color: #9e6e9fe0;
   color: aliceblue;
}

.row1_normal{
   background: #F7CEF8;
}
@media only screen and (max-width: 420px){
    .check{
        width: 30px;
        height: 30px;
        margin-top: 35px;
        margin-right: 1%;
      }
      .buti{
        width: 75px;
        height: 30px;
        
      }
      .buti2{
        width: 60px;
        height: 30px;
      }
}
          

@media only screen and (min-width: 1024px){
    .edit{
        width: 400px;
        height: 50px;
        font-size: 25px;
        font-family: 'Mohave', sans-serif;  
        border: 3px solid #c98585;
        border-radius: 5px;
        
     } 
     
     .row1_changed{
        background-color: #9e6e9fe0;
        color: aliceblue;
     }

     .row1_normal{
        background: #F7CEF8;
     }
     .check{
        width: 50px;
        height: 50px;
        margin-top: 35px;
        margin-right: 1%;
      }

}   