@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');
*{
  margin: 0%;
  box-sizing: border-box;
}
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
}

.button_view{
  width: 200px;
  height: 51px;
  margin-top: 20px;
  background-color: #BEACC7;
  border-radius: 12px;
  color: #733561;
  font-family: 'Mohave', sans-serif;
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
}

.view_buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.containertask {
  display: flex;
  justify-content: center;
  

}
.task {
  width: 200px;
  height: 55px;
  margin-left: 10px;
  background-color: #E393A6;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-family: 'Mohave', sans-serif;
  font-size: 23px;
  margin-top: 20px;
}
.buttonadd {
  display: flex;
  justify-content: center;
}
.add {
  width: 100px;
  height: 51px;
  margin-top: 20px;
  background-color: #BEACC7;
  border-radius: 12px;
  color: #733561;
  font-family: 'Mohave', sans-serif;
  font-size: 22px;
  cursor: pointer;
}

.input{
  width: 60vw;
  height: 70px;
  margin-right: 50px;
  padding-left: 5px;
  margin-top: 10px;
  background: #FFFFFF;
  border: 3px solid #AE889F; 
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  color:#733561;
  font-family: 'Mohave', sans-serif;
  font-size: 30px;
}


@media only screen and (min-width: 1024px){
  *{
    margin: 0%;
    box-sizing: border-box;
  }

  .view_buttons{
    flex-direction: row;
  }

  .add {
    width: 195px;
    height: 65px;
    margin-top: 20px;
    background-color: #BEACC7;
    border-radius: 12px;
    color: #733561;
    font-family: 'Mohave', sans-serif;
    font-size: 35px;
    cursor: pointer;
  }
  .task {
    width: 514px;
    height: 55px;
    background-color: #E393A6;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: 'Mohave', sans-serif;
    font-size: 30px;
  }
  .input{
  width: 60vw;
  height: 70px;
  margin-left: 200px;
  padding-left: 5px;
  margin-top: 10px;
  background: #FFFFFF;
  border: 3px solid #AE889F; 
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  color:#733561;
  font-family: 'Mohave', sans-serif;
  font-size: 30px;
} 
}